<h4>DEMAIN JE VIENS CHEZ TOI, PREPARE LA PLAY !</h4>

<p>
Recapitulons.<br>
Ton nom: <strong><%=params[:nom]%></strong> <br>
Ton prenom: <strong><%=params[:prenom]%></strong> <br>
T'habites: <strong><%=params[:adresse]%></strong> <br>
Ton code postal: <strong><%=params[:cp]%></strong> <br>
Et ton pays: <strong><%=params[:pays]%></strong> <br>
Merci ma gueule !
</p>

<p id="C">© #TEULIERECHRISTOPHER #MERCI</p>